In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm

In [6]:
m=pd.read_csv("measurements.csv")

In [7]:
m.head(3)

,ID,group,sex,birth_year,chol_init,chol_final,trig_init,trig_final,weight_init,weight_final,...,hip_perimeter_diff,BMI_init,BMI_final,BMI_diff,tricipital_fold_final,tricipital_fold_init,abdominal_fold_final,abdominal_fold_init,subscapular_fold_final,subscapular_fold_init
0,t1,Test,f,2010.0,183.0,177.0,74.0,68.0,69.5,69.0,...,-1,27.840090,25.039919,-2.800171,23.0,19.0,19.0,19.0,10.0,10.0
1,t2,Test,m,2010.0,185.0,179.0,88.0,81.0,70.0,71.9,...,-2,28.398718,25.780774,-2.617944,23.0,23.0,40.0,42.0,20.0,17.0
2,t3,Test,f,2010.0,185.0,180.0,85.0,74.0,66.8,74.5,...,3,27.449047,26.084521,-1.364526,11.0,20.0,26.0,20.0,22.0,20.0

In [11]:
type(m.sex=='f')

pandas.core.series.Series

In [10]:
type([m.sex=='f'])

list

In [32]:
m.loc[(m.sex=='f').astype('int'),'ID'].value_counts()   #literraly selects indices 0 or 1, only boolean filters

t1    50
t2    30
Name: ID, dtype: int64

In [31]:
m.loc[m.sex=='f', 'ID'].shape

(30,)

In [40]:
m.ID[m.sex=='f'].values

array(['t1', 't3', 't4', 't8', 't10', 't11', 't12', 't14', 't16', 't17',
       't21', 't22', 't29', 't30', 't35', 't40', 'c5', 'c8', 'c11', 'c12',
       'c16', 'c18', 'c19', 'c22', 'c24', 'c26', 'c32', 'c33', 'c34',
       'c37'], dtype=object)

In [155]:
m.ID[m.sex=='f'].index

Int64Index([ 0,  2,  3,  7,  9, 10, 11, 13, 15, 16, 20, 21, 28, 29, 34, 39, 44,
            47, 50, 51, 55, 57, 58, 61, 63, 65, 71, 72, 73, 76],
           dtype='int64')

In [157]:
m.ID[m.ID=='t18'].index[0]

17

In [80]:
m.groupby('sex').BMI_init.describe()

,count,mean,std,min,25%,50%,75%,max
sex,,,,,,,,
f,30.0,27.857184,3.084453,21.490184,26.395669,27.622604,29.085762,34.866892
m,50.0,27.773745,2.822594,21.980992,25.603939,27.815259,29.658089,35.911111

In [98]:
m.groupby('birth_year').describe()    #describes all columns

           chol_init                                                      \
               count        mean       std    min     25%    50%     75%
birth_year
2009.0           4.0  180.500000  7.047458  174.0  174.75  180.0  185.75
2010.0          18.0  177.111111  8.115989  163.0  174.00  178.5  183.00
2011.0          18.0  180.388889  7.013759  163.0  176.50  181.5  186.00

                  chol_final              ... subscapular_fold_final        \
              max      count        mean  ...                    75%   max
birth_year                                ...
2009.0      188.0        4.0  174.750000  ...                   7.60  28.0
2010.0      188.0       18.0  171.666667  ...                  29.75  48.0
2011.0      188.0       18.0  174.166667  ...                  30.00  40.0

           subscapular_fold_init                                         \
                           count       mean        std  min   25%   50%
birth_year
2009.0                       4.0  15.750000  10.996211  3.0   9.0  16.0
2010.0                      18.0  26.388889  12.219266  7.0  20.0  25.5
2011.0                      18.0  20.222222  11.295786  1.0  10.5  21.0


              75%   max
birth_year
2009.0      22.75  28.0
2010.0      30.00  60.0
2011.0      30.00  40.0

[3 rows x 272 columns]

In [97]:
m.groupby('birth_year').BMI_init.describe()

,count,mean,std,min,25%,50%,75%,max
birth_year,,,,,,,,
2009.0,4.0,27.991367,1.583821,26.755552,27.184756,27.449404,28.256015,30.311111
2010.0,18.0,29.362518,2.592610,24.351962,27.726689,29.311575,30.468261,35.911111
2011.0,18.0,29.359802,2.751648,25.947040,26.921175,29.080914,31.320143,34.866892

In [101]:
type(m.groupby('birth_year').BMI_init.describe())

pandas.core.frame.DataFrame

In [100]:
# m.BMI_init.groupby('birth_year').describe() error

In [88]:
m.birth_year.isin([2010,2011]).values    #only accepts lists, not ints, simillar to cond formatting, but more scalable

array([ True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [95]:
m.loc[m.birth_year.isin([2010,2011]), 'ID':'birth_year'].head(2)     #label slices do not need[]

   ID group sex  birth_year
0  t1  Test   f      2010.0
1  t2  Test   m      2010.0

In [103]:
m.loc[m.chol_init.isnull(),'group'].describe()

count          40
unique          1
top       Control
freq           40
Name: group, dtype: object

In [105]:
m.loc[m.chol_init.notnull(),'group'].describe()

count       40
unique       1
top       Test
freq        40
Name: group, dtype: object

In [116]:
nn=m.chol_init[79]
nn

nan

In [127]:
m.isin([nn]).tail(3)  #isin on the entire df returns a boolean df. Can it be used for anything?

,ID,group,sex,birth_year,chol_init,chol_final,trig_init,trig_final,weight_init,weight_final,...,hip_perimeter_diff,BMI_init,BMI_final,BMI_diff,tricipital_fold_final,tricipital_fold_init,abdominal_fold_final,abdominal_fold_init,subscapular_fold_final,subscapular_fold_init
77,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
78,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [121]:
nn == m.chol_init[79]     #however, nan cannot be used in comparisons

False

In [122]:
m.chol_init[79] == m.chol_init[79]  #strangely, nan != nan

False

In [131]:
m.isin(['t1']).head(2)

,ID,group,sex,birth_year,chol_init,chol_final,trig_init,trig_final,weight_init,weight_final,...,hip_perimeter_diff,BMI_init,BMI_final,BMI_diff,tricipital_fold_final,tricipital_fold_init,abdominal_fold_final,abdominal_fold_init,subscapular_fold_final,subscapular_fold_init
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [140]:
m.loc[1,:].map(type).head(5)
#map only processes series, not dataframes
#does not necessarily need lambda functions
#functions are written without ()

ID                      <class 'str'>
group                   <class 'str'>
sex                     <class 'str'>
birth_year    <class 'numpy.float64'>
chol_init     <class 'numpy.float64'>
Name: 1, dtype: object

In [141]:
m.columns.map(type)

Index([<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>,
       <class 'str'>, <class 'str'>],
      dtype='object')

In [142]:
m.shape

(80, 38)

In [148]:
ns = pd.Series(data=2, index=range(80))
ns.shape

(80,)

In [150]:
ns = ns.map(lambda x: x+1)
ns.values

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], dtype=int64)

### how .map works
a = b.map(function)
a = b.map(lambda x: x+1)
 - b (must be a series) -> each element of b mapped -> function input (x) -> function output (x+1) -> map output (needs assignment) -> a

therefore ns must be an output

In [161]:
print(m.BMI_init.map(lambda x: x).values)

[27.84008973 28.398718   27.44904668 27.67422481 27.16269469 26.75555155
 25.82682056 27.68888889 30.11998685 26.83864765 30.4296875  34.453125
 30.58420792 27.88162695 29.8216759  26.84066824 30.68256124 30.3934038
 27.67877033 32.36851717 27.57098338 32.58034894 29.67657562 25.94704033
 28.56999145 28.67845994 24.35196195 35.91111111 34.8668918  26.71111111
 29.60262778 30.48111925 30.31111111 29.59183673 31.79160394 31.56545425
 31.39120095 27.32782369 28.80147412 26.34958383 25.39657106 24.97704316
 27.70083102 23.82877527 27.18089991 28.36121989 21.98099185 25.34435262
 25.15315023 23.06666667 31.39818019 26.1328125  23.15211027 25.52964487
 32.79298037 27.70083102 28.90725436 26.53392395 24.50340075 31.44608986
 24.54120499 27.86044677 28.68514468 21.49018441 28.30599506 23.828125
 25.52964487 27.9296875  26.0261749  25.91068435 26.0261749  22.67573696
 29.47584262 27.91551882 25.96952909 27.18089991 26.0261749  24.67702134
 25.52964487 28.76397107]

In [166]:
print(m.BMI_init.map(lambda x: m.BMI_init[m.BMI_init==x].values[0]).values)

[27.84008973 28.398718   27.44904668 27.67422481 27.16269469 26.75555155
 25.82682056 27.68888889 30.11998685 26.83864765 30.4296875  34.453125
 30.58420792 27.88162695 29.8216759  26.84066824 30.68256124 30.3934038
 27.67877033 32.36851717 27.57098338 32.58034894 29.67657562 25.94704033
 28.56999145 28.67845994 24.35196195 35.91111111 34.8668918  26.71111111
 29.60262778 30.48111925 30.31111111 29.59183673 31.79160394 31.56545425
 31.39120095 27.32782369 28.80147412 26.34958383 25.39657106 24.97704316
 27.70083102 23.82877527 27.18089991 28.36121989 21.98099185 25.34435262
 25.15315023 23.06666667 31.39818019 26.1328125  23.15211027 25.52964487
 32.79298037 27.70083102 28.90725436 26.53392395 24.50340075 31.44608986
 24.54120499 27.86044677 28.68514468 21.49018441 28.30599506 23.828125
 25.52964487 27.9296875  26.0261749  25.91068435 26.0261749  22.67573696
 29.47584262 27.91551882 25.96952909 27.18089991 26.0261749  24.67702134
 25.52964487 28.76397107]

In [169]:
print(m.BMI_init.map(lambda x: m.BMI_init[m.BMI_init==x].shape).values)

[(1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,)
 (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,)
 (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,)
 (2,) (1,) (2,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (3,) (1,) (2,)
 (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (1,) (3,) (1,) (3,) (1,)
 (3,) (1,) (1,) (1,) (1,) (2,) (3,) (1,) (3,) (1,)]

In [159]:
print(m.BMI_init.map(lambda x: m.BMI_init[m.BMI_init==x].index[0]).values)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 42 56 57 58 59 60 61 62 63 64 65 53 67 68 69 68 71
 72 73 74 44 68 77 53 79]

In [170]:
print(m.BMI_init.map(lambda x: m.BMI_final[m.BMI_init[m.BMI_init==x].index[0]]).values)

[25.03991871 25.78077378 26.08452085 27.421875   26.648676   22.94213045
 21.1328125  22.20633069 27.96801606 24.1671624  27.17685235 36.21499516
 25.5588462  30.55747922 27.40484429 22.68244576 27.47623981 25.4393424
 26.2345679  27.96959994 26.04539125 28.07701515 27.84879474 24.3682717
 25.84752909 26.33217993 23.36708104 29.0174472  31.7578125  23.046875
 28.81551766 26.34929208 28.77975387 25.15315023 32.18620868 29.40759637
 28.4392876  26.12769741 27.01685989 23.81474497 25.74839302 26.71475088
 28.47988608 24.19484057 27.70083102 29.61741188 21.51925078 25.25951557
 25.40281608 25.5994158  27.10924824 26.55647383 21.71326591 25.8298618
 32.64050718 28.47988608 29.61937716 26.87870534 24.453125   28.48765432
 24.7265625  26.74285714 29.06879615 23.28961601 28.37370242 21.3577956
 25.8298618  25.34402222 25.79096809 26.95984034 25.79096809 21.5450908
 26.44628099 25.85463947 24.6097337  27.70083102 25.79096809 24.49985955
 25.8298618  27.21730295]

In [171]:
print(m.BMI_init.map(lambda x: x-m.BMI_final[m.BMI_init[m.BMI_init==x].index[0]]).values)

[ 2.80017102  2.61794422  1.36452583  0.25234981  0.51401869  3.8134211
  4.69400806  5.4825582   2.15197079  2.67148525  3.25283515 -1.76187016
  5.02536172 -2.67585227  2.41683161  4.15822248  3.20632143  4.9540614
  1.44420243  4.39891723  1.52559213  4.50333379  1.82778088  1.57876863
  2.72246236  2.34628001  0.98488091  6.89366391  3.1090793   3.66423611
  0.78711012  4.13182717  1.53135724  4.4386865  -0.39460474  2.15785788
  2.95191335  1.20012628  1.78461423  2.53483886 -0.35182196 -1.73770772
 -0.77905506 -0.3660653  -0.51993111 -1.25619199  0.46174107  0.08483705
 -0.24966585 -2.53274913  4.28893195 -0.42366133  1.43884436 -0.30021693
  0.15247319 -0.77905506 -0.7121228  -0.34478139  0.05027575  2.95843554
 -0.18535751  1.11758963 -0.38365147 -1.7994316  -0.06770736  2.4703294
 -0.30021693  2.58566528  0.23520681 -1.04915599  0.23520681  1.13064616
  3.02956163  2.06087935  1.35979539 -0.51993111  0.23520681  0.17716179
 -0.30021693  1.54666812]

In [172]:
m.BMI_diff.values     #excel difference

array([-2.80017102, -2.61794422, -1.36452583, -0.25234981, -0.51401869,
       -3.8134211 , -4.69400806, -5.4825582 , -2.15197079, -2.67148525,
       -3.25283515,  1.76187016, -5.02536172,  2.67585227, -2.41683161,
       -4.15822248, -3.20632143, -4.95406139, -1.44420243, -4.39891723,
       -1.52559213, -4.50333379, -1.82778088, -1.57876863, -2.72246235,
       -2.34628001, -0.98488091, -6.89366391, -3.1090793 , -3.66423611,
       -0.78711012, -4.13182717, -1.53135724, -4.4386865 ,  0.39460474,
       -2.15785788, -2.95191335, -1.20012628, -1.78461423, -2.53483886,
        0.35182196,  1.73770772,  0.77905506,  0.3660653 ,  0.51993112,
        1.25619199, -0.46174107, -0.08483705,  0.24966585,  2.53274913,
       -4.28893194,  0.42366133, -1.43884435,  0.30021693, -0.15247319,
        1.59604397,  0.7121228 ,  0.34478138, -0.05027575, -2.95843554,
        0.18535751, -1.11758963,  0.38365147,  1.79943159,  0.06770736,
       -2.47032941,  0.62545717, -2.58566528, -0.2352068 ,  1.049156  ,
       -0.0746178 , -1.13064616, -3.02956163, -2.06087935, -1.35979538,
       -2.50539964, -0.74606504, -0.17716178, -1.16403447, -1.54666813])

In [181]:
type((m.BMI_init-m.BMI_init.mean())) #not tuple?

pandas.core.series.Series

In [182]:
(m.BMI_init-m.BMI_init.mean()).values

array([ 0.03505521,  0.59368348, -0.35598784, -0.13080971, -0.64233983,
       -1.04948297, -1.97821396, -0.11614563,  2.31495233, -0.96638687,
        2.62465298,  6.64809048,  2.7791734 ,  0.07659243,  2.01664138,
       -0.96436628,  2.87752672,  2.58836928, -0.12626419,  4.56348265,
       -0.23405114,  4.77531442,  1.8715411 , -1.85799419,  0.76495693,
        0.87342542, -3.45307257,  8.10607659,  7.06185728, -1.09392341,
        1.79759326,  2.67608473,  2.50607659,  1.78680221,  3.98656942,
        3.76041973,  3.58616643, -0.47721083,  0.9964396 , -1.45545069,
       -2.40846346, -2.82799136, -0.1042035 , -3.97625925, -0.62413461,
        0.55618537, -5.82404267, -2.4606819 , -2.65188429, -4.73836785,
        3.59314567, -1.67222202, -4.65292425, -2.27538965,  4.98794585,
       -0.1042035 ,  1.10221984, -1.27111057, -3.30163377,  3.64105534,
       -3.26382953,  0.05541225,  0.88011016, -6.31485011,  0.50096054,
       -3.97690952, -2.27538965,  0.12465298, -1.77885962, -1.89435017,
       -1.77885962, -5.12929756,  1.6708081 ,  0.1104843 , -1.83550543,
       -0.62413461, -1.77885962, -3.12801318, -2.27538965,  0.95893655])

## Apply
### Axis
- axis = 0 or 'index' (default) - apply function to each column
- axis = 1 or 'columns' - apply functions to each row
### raw
- bool
- False (default) - returns Series
- True - returns ndarray
### result_type (only when axis=1)
- expand - column arrangement
- reduce - series arrangement
- broadcast -  df arrangement

In [196]:
print(m[["BMI_init","BMI_final"]].apply(np.sqrt).head(5))

   BMI_init  BMI_final
0  5.276371   5.003990
1  5.329045   5.077477
2  5.239184   5.107301
3  5.260630   5.236590
4  5.211784   5.162236

In [199]:
print(m[["BMI_init","BMI_final","chol_init","chol_final"]].apply(np.sqrt).head(5))

   BMI_init  BMI_final  chol_init  chol_final
0  5.276371   5.003990  13.527749   13.304135
1  5.329045   5.077477  13.601471   13.379088
2  5.239184   5.107301  13.601471   13.416408
3  5.260630   5.236590  13.711309   13.341664
4  5.211784   5.162236  13.711309   13.527749

In [209]:
print(m[["BMI_init","BMI_final","chol_init","chol_final"]].apply(lambda x: x.mean()))

BMI_init       27.805035
BMI_final      26.362289
chol_init     178.925000
chol_final    173.100000
dtype: float64

In [213]:
print(m[["BMI_init","BMI_final","chol_init","chol_final"]].apply(lambda x: x.mean(), axis=1).tail(5))

75    25.928200
76    25.653142
77    24.588440
78    24.947628
79    27.990637
dtype: float64

In [214]:
print(m[["BMI_init","BMI_final","chol_init","chol_final"]].apply(lambda x: x.mean(), axis=1, result_type='expand'))

0     103.220002
1     104.544873
2     104.633392
3     105.274025
4     106.202843
         ...
75     25.928200
76     25.653142
77     24.588440
78     24.947628
79     27.990637
Length: 80, dtype: float64

In [216]:
print(m[["BMI_init","BMI_final","chol_init","chol_final"]].apply(lambda x: x.mean(), axis=1, result_type='broadcast'))

      BMI_init   BMI_final   chol_init  chol_final
0   103.220002  103.220002  103.220002  103.220002
1   104.544873  104.544873  104.544873  104.544873
2   104.633392  104.633392  104.633392  104.633392
3   105.274025  105.274025  105.274025  105.274025
4   106.202843  106.202843  106.202843  106.202843
..         ...         ...         ...         ...
75   25.928200   25.928200   25.928200   25.928200
76   25.653142   25.653142   25.653142   25.653142
77   24.588440   24.588440   24.588440   24.588440
78   24.947628   24.947628   24.947628   24.947628
79   27.990637   27.990637   27.990637   27.990637

[80 rows x 4 columns]